/*  your css code here. If applicable */

   

    #photo-heading {
      font-size: 24px;
      margin-bottom: 20px;
	text-align:center;
    }

    .animal-image {
      width: 300px;
      height: 200px;
      margin: 10px;
	
    }
  
